@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Train Timetable</h1>
    <p class="lead">Welcome to the train timetable, please find below important information about the website.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Passengers</h2>
        <p>
            Passengers will be able to be added to the datbase and pay to prebook their tickests guarantee a place on the train
            at their prefered time
        </p>
 
    </div>
    <div class="col-md-4">
        <h2>Train</h2>
        <p>Trains will be able to be added to the database and orangise where they are going. </p>
       
    </div>
    <div class="col-md-4">
        <h2>Station</h2>
        <p>Stations are able to be added to the database and orangise where they are going.</p>
        
    </div>

    <div class="col-md-4">
        <h2>Timetable</h2>
        <p>Timetables are able to be added to the database and organised to see what is going on. </p>
    </div>
</div>